<!-- Header -->
<header class="bg-white h-14 py-2 fixed top-0 left-0 w-full z-50">
	<div class="flex items-center justify-center h-full container">
		<div class="w-fit h-[42px]">
			<img src="../assets/logo-vi.png.jpg" class="w-full h-full object-cover" />
		</div>
	</div>
</header>

<main class="flex flex-col gap-20 mt-20">
	<!-- Banner -->
	<section class="flex items-center xl:justify-between container xl:flex-row flex-col-reverse justify-center gap-5">
		<div class="flex flex-col gap-7 max-w-[480px]">
			<div class="flex flex-col gap-5">
				<h1 class="text-[30px] md:text-[40px] lg:text-[50px] xl:text-[60px] font-bold">
					TNDS xe máy <br />
					<strong class="text-primary-color">Bảo hiểm đơn giản và dễ dàng</strong>
				</h1>
				<p class="text-base text-gray font-normal">
					BIC cung cấp các sản phẩm bảo hiểm uy tín, chất lượng bồi thường nhanh chóng
				</p>
			</div>
		</div>
		<div class="relative">
			<img src="../assets/banner.png" alt="" class="z-10" />
			<div
				class="lg:w-[400px] lg:h-[454px] hidden lg:block bg-primary-color rounded-tl-[120px] rounded-br-[120px] absolute -top-6 -right-10 -z-10"
			></div>
		</div>
	</section>

	<!-- Section 2 - Giới thiệu -->
	<section class="flex flex-col gap-8 container relative">
		<div class="container pb-20 flex flex-col gap-6">
			<h2 class="text-[40px] font-bold">Mua bảo hiểm TNDS xe máy</h2>
			<div class="flex items-center gap-5">
				<div class="input-group">
					<label class="input-label">Tên *</label>
					<input placeholder="Tên chủ xe" type="text" />
				</div>
				<div class="input-group">
					<label class="input-label">Email *</label>
					<input placeholder="Email" type="email" />
				</div>
				<div class="input-group">
					<label class="input-label">Số điện thoại *</label>
					<input placeholder="Số điện thoại" type="number" />
				</div>
			</div>

			<div class="space-y-4">
				<label class="text-base font-bold">Chọn gói</label>
				<div class="flex items-center gap-5">
					<div
						*ngFor="let item of packages"
						class="flex-1 bg-bg p-3 rounded-md cursor-pointer"
						[ngClass]="{ 'border-active border-2 bg-bg-active': selectPackage === item }"
						(click)="selectPackage = item"
					>
						<div class="flex items-end justify-between">
							<div class="flex items-center gap-4">
								<input
									type="radio"
									name="package"
									class="size-4"
									[value]="item.id"
									[checked]="selectPackage?.id === item.id"
								/>
								<div class="">
									<p class="text-xl font-bold">{{ item.name }}</p>
									<span class="text-secondary-color text-base">{{ item.price }}</span>
									<span class="ml-1 text-sm text-gray">vnđ</span>
								</div>
							</div>
							<div class="">
								<img [src]="'../assets/' + item.icon" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="space-y-4">
				<label class="text-base font-bold">Thời gian tham gia bảo hiểm</label>
				<div class="flex items-center gap-5">
					<div class="input-group">
						<label class="input-label">Ngày bắt đầu hiệu lực *</label>
						<input placeholder="Ngày bắt đầu" type="date" [value]="startDate | date : 'yyyy-MM-dd'" />
					</div>
					<div class="input-group">
						<label class="input-label">Thời gian *</label>
						<select>
							<option value="1">1 năm</option>
							<option value="2">2 năm</option>
							<option value="3">3 năm</option>
						</select>
					</div>
					<div class="input-group">
						<label class="input-label">Ngày kết thúc *</label>
						<input
							placeholder="Ngày kết thúc"
							type="date"
							[value]="endDate | date : 'yyyy-MM-dd'"
							disabled
						/>
					</div>
				</div>
			</div>

			<div class="space-y-4">
				<div class="flex items-center gap-2">
					<input type="checkbox" class="size-4" id="hoadon" (change)="isShowInfo = !isShowInfo" />
					<label class="text-base font-bold cursor-pointer" for="hoadon">Yêu cầu xuất hoá đơn</label>
				</div>
				<div class="flex items-center gap-5" *ngIf="isShowInfo">
					<div class="input-group">
						<label class="input-label">Tên *</label>
						<input placeholder="Tên" type="text" />
					</div>
					<div class="input-group">
						<label class="input-label">Email *</label>
						<input placeholder="Email" type="email" />
					</div>
					<div class="input-group">
						<label class="input-label">Mã thuế *</label>
						<input placeholder="Mã số thuế" type="text" />
					</div>
					<div class="input-group">
						<label class="input-label">Địa chỉ *</label>
						<input placeholder="Địa chỉ" type="text" />
					</div>
				</div>
			</div>

			<div class="w-full py-3 flex items-center justify-center rounded-md bg-bg gap-1">
				<span class="text-base font-medium">Tổng phí: </span>
				<span class="text-2xl text-secondary-color font-bold">{{ selectPackage.price }}</span>
				<span class="text-sm font-medium">vnđ</span>
			</div>

			<div class="flex items-center justify-center">
				<button class="btn" (click)="handleSubmit()">Xác nhận</button>
			</div>
		</div>

		<div class="flex items-center justify-center gap-5 md:flex-row flex-col">
			<div
				*ngFor="let item of benefits"
				class="flex flex-col items-center justify-center flex-1 gap-6 md:gap-8 lg:gap-10 hover:shadow-custom hover:transition-none md:py-12 py-10 lg:py-16 cursor-pointer rounded-2xl w-full"
			>
				<div class="w-[100px] h-[100px] rounded-full bg-gray-bg flex items-center justify-center">
					<img [src]="'../assets/' + item.img" class="size-16" />
				</div>
				<div class="flex flex-col items-center gap-3 md:gap-5 lg:gap-7">
					<h4 class="font-bold text-xl lg:text-2xl">{{ item.title }}</h4>
					<div class="flex flex-col items-center gap-2">
						<p class="text-xl md:text-2xl lg:text-3xl text-secondary-color font-semibold">
							{{ item.money }}
						</p>
						<span class="text-sm text-gray">{{ item.text }}</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section 3 - Bảo hiểm TNDS xe máy -->
	<section class="flex flex-col gap-10 items-center container">
		<div class="hidden grid-cols-12 grid-rows-7 gap-5 text-gray font-normal lg:grid">
			<div class="col-span-3 row-span-6 col-start-1 row-start-2 flex flex-col gap-10">
				<h2 class="text-[42px] text-primary-color font-bold">Bảo hiểm TNDS xe máy</h2>
				<img src="../assets/Image.png" alt="" />
			</div>

			<div class="col-span-4 row-span-2 col-start-5 row-start-1 box">
				<img src="../assets/man.png" alt="" class="size-14 object-cover" />
				<h3 class="title">Đối tượng bảo hiểm</h3>
				<ul>
					<li>
						Xe mô tô hai bánh, xe mô tô ba bánh; xe gắn máy (kể cả xe máy điện) và các loại xe có kết cấu
						tương tự theo quy định của Luật Giao thông đường bộ
					</li>
				</ul>
			</div>
			<div class="col-span-4 row-span-3 col-start-5 row-start-3 box">
				<img src="../assets/search.png" alt="" class="size-14 object-cover" />
				<h3 class="title">Mức trách nhiệm</h3>
				<ul>
					<li>
						Mức trách nhiệm bảo hiểm đối với thiệt hại về người do xe cơ giới gây ra:
						<span class="text-primary-color font-semibold">150 triệu đồng/1 người/ 1 vụ tai nạn</span>
					</li>
					<li>
						Mức trách nhiệm bảo hiểm đối với thiệt hại về tài sản do xe mô tô hai bánh, xe mô tô ba bánh, xe
						gắn máy và các loại xe cơ giới tương tự gây ra:
						<span class="text-primary-color font-semibold">50 triệu đồng/ 1 vụ tai nạn</span>
					</li>
					<li>
						Mức trách nhiệm bảo hiểm đối với thiệt hại về tài sản do xe ô tô, máy kéo, xe máy thi công, xe
						máy nông nghiệp, lâm nghiệp và các loại xe đặc chủng khác sử dung vào mục đích an ninh, quốc
						phòng gây ra: <span class="text-primary-color font-semibold">100 triệu đồng/ 1 vụ tai nạn</span>
					</li>
				</ul>
			</div>
			<div class="col-span-4 row-span-2 col-start-5 row-start-6 box">
				<img src="../assets/insurance.png" alt="" class="size-14 object-cover" />
				<h3 class="title">Hiệu lực bảo hiểm</h3>
				<ul>
					<li>
						Thời điểm bắt đầu có hiệu lực của Giấy chứng nhận bảo hiểm được ghi cụ thể trên Giấy chứng nhận
						bảo hiểm nhưng không được trước thời điểm chủ xe cơ giới đóng đủ phí bảo hiểm
					</li>
				</ul>
			</div>
			<div class="col-span-4 row-span-5 col-start-9 row-start-2 box">
				<img src="../assets/insurance 1.png" alt="" class="size-14 object-cover" />
				<h3 class="title">Loại trừ bảo hiểm</h3>
				<ul>
					<li>
						Hành động cố ý gây thiệt hại của chủ xe, lái xe hoặc của người bị thiệt hại. Lái xe gây tai nạn
						cố ý bỏ chạy không thực hiện trách nhiệm dân sự của chủ xe, lái xe cơ giới
					</li>
					<li>
						Lái xe không có giấy phép lái xe hoặc giấy phép lái xe không phù hợp đối với loại xe cơ giới bắt
						buộc phải có giấy phép lái xe. Trường hợp ái xe bị tước quyền sử dụng giấy phép lái xe có thời
						hạn hoặc không thời hạn thì được coi là không có giấy phép lái xe
					</li>
					<li>
						Thiệt hại gây ra hậu quả gián tiếp như: giảm giá trị thương mại, thiệt hại gắn liền với việc sử
						dụng và khai thác tài sản bị thiệt hại Thiệt hại gây ra hậu quả gián tiếp như: giảm giá trị
						thương mại, thiệt hại gắn liền với việc sử dụng và khai thác tài sản bị thiệt hại
					</li>
					<li>Thiệt hại đối với tài sản bị mất cắp hoặc bị cướp trong tai nạn</li>
					<li>Chiến tranh, khủng bố, động đất</li>
					<li>
						Thiệt hại đối với tài sản đặc biệt bao gồm: vàng, bạc, đá quý, các loại giấy tờ có giá trị như
						tiền, đồ cổ, tranh ảnh quý hiếm, thi hài, hài cốt
					</li>
				</ul>
			</div>
		</div>

		<div class="lg:hidden flex flex-col items-center justify-center gap-5">
			<div class="flex flex-col items-center gap-4">
				<h2 class="text-2xl md:text-[30px] text-primary-color font-bold">Bảo hiểm TNDS xe máy</h2>
				<img src="../assets/Image.png" alt="" class="w-fit h-fit object-cover" />
			</div>

			<div class="box">
				<img src="../assets/man.png" alt="" class="size-14 object-cover" />
				<h3 class="title">Đối tượng bảo hiểm</h3>
				<ul>
					<li>
						Xe mô tô hai bánh, xe mô tô ba bánh; xe gắn máy (kể cả xe máy điện) và các loại xe có kết cấu
						tương tự theo quy định của Luật Giao thông đường bộ
					</li>
				</ul>
			</div>
			<div class="box">
				<img src="../assets/search.png" alt="" class="size-14 object-cover" />
				<h3 class="title">Mức trách nhiệm</h3>
				<ul>
					<li>
						Mức trách nhiệm bảo hiểm đối với thiệt hại về người do xe cơ giới gây ra:
						<span class="text-primary-color font-semibold">150 triệu đồng/1 người/ 1 vụ tai nạn</span>
					</li>
					<li>
						Mức trách nhiệm bảo hiểm đối với thiệt hại về tài sản do xe mô tô hai bánh, xe mô tô ba bánh, xe
						gắn máy và các loại xe cơ giới tương tự gây ra:
						<span class="text-primary-color font-semibold">50 triệu đồng/ 1 vụ tai nạn</span>
					</li>
					<li>
						Mức trách nhiệm bảo hiểm đối với thiệt hại về tài sản do xe ô tô, máy kéo, xe máy thi công, xe
						máy nông nghiệp, lâm nghiệp và các loại xe đặc chủng khác sử dung vào mục đích an ninh, quốc
						phòng gây ra: <span class="text-primary-color font-semibold">100 triệu đồng/ 1 vụ tai nạn</span>
					</li>
				</ul>
			</div>
			<div class="box">
				<img src="../assets/insurance.png" alt="" class="size-14 object-cover" />
				<h3 class="title">Hiệu lực bảo hiểm</h3>
				<ul>
					<li>
						Thời điểm bắt đầu có hiệu lực của Giấy chứng nhận bảo hiểm được ghi cụ thể trên Giấy chứng nhận
						bảo hiểm nhưng không được trước thời điểm chủ xe cơ giới đóng đủ phí bảo hiểm
					</li>
				</ul>
			</div>
			<div class="box">
				<img src="../assets/insurance 1.png" alt="" class="size-14 object-cover" />
				<h3 class="title">Loại trừ bảo hiểm</h3>
				<ul>
					<li>
						Hành động cố ý gây thiệt hại của chủ xe, lái xe hoặc của người bị thiệt hại. Lái xe gây tai nạn
						cố ý bỏ chạy không thực hiện trách nhiệm dân sự của chủ xe, lái xe cơ giới
					</li>
					<li>
						Lái xe không có giấy phép lái xe hoặc giấy phép lái xe không phù hợp đối với loại xe cơ giới bắt
						buộc phải có giấy phép lái xe. Trường hợp ái xe bị tước quyền sử dụng giấy phép lái xe có thời
						hạn hoặc không thời hạn thì được coi là không có giấy phép lái xe
					</li>
					<li>
						Thiệt hại gây ra hậu quả gián tiếp như: giảm giá trị thương mại, thiệt hại gắn liền với việc sử
						dụng và khai thác tài sản bị thiệt hại Thiệt hại gây ra hậu quả gián tiếp như: giảm giá trị
						thương mại, thiệt hại gắn liền với việc sử dụng và khai thác tài sản bị thiệt hại
					</li>
					<li>Thiệt hại đối với tài sản bị mất cắp hoặc bị cướp trong tai nạn</li>
					<li>Chiến tranh, khủng bố, động đất</li>
					<li>
						Thiệt hại đối với tài sản đặc biệt bao gồm: vàng, bạc, đá quý, các loại giấy tờ có giá trị như
						tiền, đồ cổ, tranh ảnh quý hiếm, thi hài, hài cốt
					</li>
				</ul>
			</div>
		</div>

		<button class="btn">Mua ngay</button>
	</section>

	<!-- Section 4 - Bồi thường dễ dàng -->
	<section class="bg-primary-color py-16 text-white">
		<div class="container">
			<div class="flex items-center flex-col gap-5 mb-16">
				<h2 class="text-[40px] font-bold">Bồi thường dễ dàng</h2>
				<p class="text-sm font-normal">Bồi thường nhanh chóng, dễ dàng</p>
			</div>
			<div class="flex lg:items-start lg:flex-row flex-col gap-10 items-center justify-center">
				<div class="flex-1 flex flex-col lg:gap-10 gap-6">
					<div class="flex items-start gap-4">
						<div class="size-12 bg-white rounded-full flex items-center justify-center">
							<img src="../assets/like.png" />
						</div>
						<div class="flex flex-col gap-0.5">
							<h5 class="text-base font-bold">Bước 1</h5>
							<p>Tải App VNI</p>
							<div class="flex items-center gap-1">
								<img src="../assets/appstore.png" alt="" />
								<img src="../assets/googlePlay.png" alt="" />
							</div>
						</div>
					</div>

					<div class="flex items-start gap-4">
						<div class="size-12 bg-white rounded-full flex items-center justify-center">
							<img src="../assets/like.png" />
						</div>
						<div class="flex flex-col gap-0.5">
							<h5 class="text-base font-bold">Bước 2</h5>
							<p>Làm theo hướng dẫn bồi thường chỉ trong vài phút trên VNI</p>
						</div>
					</div>

					<div class="flex items-start gap-4">
						<div class="size-12 bg-white rounded-full flex items-center justify-center">
							<img src="../assets/like.png" />
						</div>
						<div class="flex flex-col gap-0.5">
							<h5 class="text-base font-bold">Bước 3</h5>
							<p>Đợi phản hồi bồi thường của chúng tôi từ 2-3 ngày làm việc</p>
						</div>
					</div>

					<div class="">
						<img src="../assets/QR Code.png" />
					</div>
				</div>

				<div class="grid grid-cols-6 grid-rows-6 gap-5">
					<div class="col-span-3 row-span-3">
						<img src="../assets/1.png" class="rounded-2xl" />
					</div>
					<div class="col-span-3 row-span-3 col-start-1 row-start-4">
						<img src="../assets/2.png" class="rounded-2xl" />
					</div>
					<div class="col-span-3 row-span-4 col-start-4 row-start-2">
						<img src="../assets/3.png" class="rounded-2xl" />
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<!-- Footer -->
<!-- <footer>
	<div class="footer-bg py-11 min-h-[450px]">
		<div class="container">
			<div class="flex flex-col items-center justify-center gap-10 text-white">
				<img src="../assets/footer-logo.png" alt="" />
				<h5 class="text-2xl font-medium">TỔNG CÔNG TY BẢO HIỂM HÀNG KHÔNG - VNI</h5>
			</div>
			<div class="w-full h-[1px] bg-white my-14"></div>
			<div
				class="flex lg:items-start lg:justify-between text-white lg:flex-row flex-col gap-10 items-center justify-center"
			>
				<div class="flex-1 flex flex-col gap-4 w-full">
					<div class="flex gap-2 items-center">
						<i class="fa-solid fa-phone"></i>
						<span>1900 969 690</span>
					</div>
					<div class="flex gap-2 items-center">
						<i class="fa-regular fa-envelope"></i>
						<span>cskh&#64;bhhk.com.vn</span>
					</div>
					<div class="flex gap-2 items-center">
						<i class="fa-solid fa-phone"></i>
						<span>8424-37724460/61</span>
					</div>
				</div>
				<div class="flex-1 flex flex-col gap-4 w-full">
					<div class="flex gap-2">
						<i class="fa-solid fa-calendar mt-1"></i>
						<div class="flex flex-col gap-1">
							<label class="text-base font-medium">Giờ làm vệc</label>
							<span>Từ 8h00 đến 17h00</span>
						</div>
					</div>
					<div class="flex gap-2">
						<i class="fa-regular fa-map mt-1"></i>
						<div class="flex flex-col gap-1">
							<label class="text-base font-medium">Địa chỉ</label>
							<span>Tầng 15, số 36 Hoàng Cầu, Đống Đa, Hà Nội</span>
						</div>
					</div>
				</div>
				<div class="flex-1 flex flex-col gap-4 w-full">
					<h6 class="text-base font-medium">Đăng ký để nhận thông tin mới nhất từ VNI</h6>
					<div class="flex flex-col gap-1">
						<label for="" class="text-sm font-normal">Nhập địa chỉ Email *</label>
						<input
							placeholder="Nhập địa chỉ email"
							class="border-none px-4 py-2 outline-none text-primary-color rounded-md"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer> -->

<div
	*ngIf="isOpen"
	(click)="closeDialog()"
	class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
>
	<div class="bg-white w-[520px] h-[430px] p-6 rounded-lg flex flex-col gap-3" (click)="$event.stopPropagation()">
		<div class="flex items-center justify-between w-full">
			<h5 class="text-2xl font-bold">Thanh toán</h5>
			<div (click)="isOpen = false" class="cursor-pointer">
				<i class="fa-solid fa-xmark size-5"></i>
			</div>
		</div>
		<div class="flex items-center justify-center">
			<img src="../assets/qr.png" alt="" class="w-[250px] h-[300px] object-cover" />
		</div>
		<div class="flex items-center gap-1 justify-center">
			<span class="text-base font-bold">Tổng phí</span>
			<span class="text-2xl font-bold text-secondary-color">{{ selectPackage.price }}</span>
			<span class="text-sm">vnd</span>
		</div>
	</div>
</div>
